/* 

---------------------TYPOGRAPHY---------------------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGTHS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2PX

FONT FAMILY
poppins







---------------------COLORS---------------------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moonlight Iris)
Shade: #7048e8 (Velvet Night)

TERRITORY
Base: #f922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)


---------------------BORDER-RADIUS---------------------

4px / 8px / 20px

---------------------SPACING SYSTEM---------------------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px 










*/

















/*  ----------------------------------------GLOBAL STYLES---------------------------------------- */

:root{
    --nav-height:100px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}


body{
    font-family: "poppins",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}

h1 , h2 , h3 , h4 , h5 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing:-2px;
    color: #212529;
}

h1 {
    font-size: 6.2rem;
}

h2{
    font-size: 4.8rem;
}

h3{ 
    font-size: 4rem;                                                                                      
}

h4{
    font-size:3.2rem;
}

h5{ 
    font-size:2.4rem ;
}

p , a , .small-text {
    font-weight: 400;
    line-height: 1.5;
    font-size: 2rem;
    color: #495057;
}

a{
    text-decoration: none;
    font-size: 1.6rem;
    display: inline-block;
}

span{
    display: inline-block;
}

ul{
    list-style: none;
}

.small-text{
    font-size: 1.2rem;
}


/* ----------------------------------------COMPONENTS----------------------------------------  */

.btn{
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 8px;
}

.btn-primary:link , .btn-primary:visited{
    color: #FFFFFF;
    background-color: #339af0;
    border: 2px solid #339af0 ;
}

.btn-primary:hover , .btn-primary:active{
    color: #ffffff;
    background-color:#1c7ed6 ;
    border: 2px solid #1c7ed6;
}


.btn-primary-outline:link , .btn-primary-outline:visited{
    color:#339af0 ;
    background-color: #FFFFFF;
    border: 2px solid #339af0 ;
}

.btn-primary-outline:hover , .btn-primary-outline:active {
    color: #1c7ed6 ;
    background-color: #FFFFFF;
    border: 2px solid #1c7ed6;
}

.btn-secondary:link , .btn-secondary:visited{
    color: #FFFFFF;
    background-color:#9775fa;
    border: 4px solid #9775fa ;
}

.btn-secondary:hover , .btn-secondary:active{
    color: #FFFFFF;
    background-color: #7048e8;
    border: 4px solid #7048e8 ;
}

.highlight{
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius:4px;
}

.highlight-primary{
    background-color: #339af0;
}

.highlight-secondary{
    background-color:#9775fa ;
}

.highlight-tertiary{
    background-color: #ff922b;
}

/* ----------------------------------------SECTIONS----------------------------------------  */

/* -----------HEADER--------------- */

/* -----------  NAVBAR--------------- */
                 
.navbar{
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button-container{
    display: flex;
    gap: 2rem;
}

/* -----------HERO SECTION----------- */



.hero-section {
    height: calc(100vh - var(--nav-height));
    min-height: 400px;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading{
    margin-bottom:1rem ;
    text-align: center;

}

.hero-paragraph{
    margin-bottom: 5rem;
}

.hero-btn-container{
    display: flex;
    gap: 2rem;
}

 /* -----------MIDDLE SECTION-----------  */

 .middle-section{
    margin-bottom:30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 100px;
 }

 .middle-section-heading{
    margin-bottom: 2rem;
 }

 .middle-section-image{
    max-width: 400px;
    width: 100%;
 }

.projects-section-flexbox-container{
    display: flex;
    margin-top: 10rem;

}

.flex-items{
    display: flex;
    flex-direction: column;
}

 

 /* -----------CONTACT SECTION-----------  */

.contact-section{
    margin-bottom: 30rem;
    display: flex;
    justify-content: center;
}
.contact-card{
    background-color: #339af0;
    text-align: center;
    max-width:1000px;
    width: 100%;
    padding: 10rem 20rem;
    border-radius: 2rem;
}

.contact-submit-button{
    margin-top: 5rem;
}
 /* -----------FOOTER SECTION-----------  */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-social-icons{
    display: flex;
    gap: 2rem;
}

